* {
  margin: 0;
  user-select: none;
}

.hidden {
  display: none;
  position: relative;
}
.borderAnimation {
  border: 3px outset red;
  animation: borderAnimation 1s infinite;
}

@keyframes borderAnimation {
  from {
    border-color: red;
  }
  to {
    border-color: blue;
  }
}

.hintBorderAnimation {
  background-color: yellowgreen;
  animation: hintBorderAnimation 1s infinite;
}
@keyframes hintBorderAnimation {
  from {
    border-color: yellow;
  }
  to {
    border-color: #fcf596;
  }
}

/* 흔들림 효과 */
.shake {
  animation: shakeAnimation 0.5s ease;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* 빨간색으로 깜빡이는 효과 */
.flash {
  animation: flashAnimation 0.5s ease;
}

@keyframes flashAnimation {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
}

.dragDisabled {
  pointer-events: none;
}

.fade-feedback {
  animation: fadeOut 2s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  color: rgba(140, 213, 83, 1);
  height: 55px;
  font-family: Roboto;
  font-size: 41px;
  font-weight: 600;
  animation: blink 1s ease-in-out infinite; /* 깜빡임 애니메이션 추가 */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; /* 시작과 끝에서는 보이도록 */
  }
  50% {
    opacity: 0; /* 중간에 깜빡이도록 */
  }
}
