* {
  margin: 0;
  user-select: none;
}

.borderAnimation {
  border: 3px outset red;
  animation: borderAnimation 1s infinite;
}

@keyframes borderAnimation {
  from {
    border-color: red;
  }
  to {
    border-color: blue;
  }
}

.hintBorderAnimation {
  /* border: 3px inset yellow; */
  border: 3px solid yellow;
  animation: hintBorderAnimation 5s infinite;
}
@keyframes hintBorderAnimation {
  from {
    border-color: yellow;
  }
  to {
    border-color: #fcf596;
  }
}

/* 흔들림 효과 */
.shake {
  animation: shakeAnimation 0.5s ease;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* 빨간색으로 깜빡이는 효과 */
.flash {
  animation: flashAnimation 0.5s ease;
}

@keyframes flashAnimation {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
}
